.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 1.2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.links-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    font-weight: bold;
    font-size: large;
}